inst/doc
.gitignore
\.gitignore
.Rbuildignore
\.Rbuildignore
.Rproj.user
/.Rproj.user/
\.Rproj\.user/
.Rproj\.user
\.Rproj\.user
.user
.Rhistory
.RData
.Ruserdata
.Rproj
/doc/
/Meta/
/data-raw/
/_tests/
/shiny_bookmarks/
.db
/_test/
